<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.payrdr.mobile.payment.sdk">

    <application>
        <activity
            android:name=".payment.PaymentActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"
            android:theme="@style/PAYRDRTransparentTheme" />

        <activity
            android:name=".payment.ActivityWebChallenge"
            android:screenOrientation="portrait"
            android:theme="@style/PAYRDRTransparentTheme" />
    </application>

</manifest>