<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.payrdr.mobile.payment.sdk">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:theme="@style/PAYRDRDefaultTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".test.core.CoreTestActivity" />
    </application>

</manifest>